{{!< default}}

<style type="text/css">
div {

}
p {
display: inline-block;
vertical-align: middle;
text-align: left;
}
</style>

<div class="container" style="max-width: 650px; text-align: center;">
  <h1>404 Page not found ：）：</h1>

  <p><strong>The requested page could not be found. Let's play a game~</strong></p>
  <p><strong>点击下图，按空格键即可开始游戏</strong></p>

  <embed src="/assets/dino-game/t-rex.html"  width="650" height="280"/>  

</div>